user_uuid="24eecd4c-e2ad-488d-ac62-5f116a250ee1"
bucket_name="m1dce1ncdvkmmp4bwenzf1kv7port5u0"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1